Banks/Connected Services/RuleBase/RuleBaseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="bank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditScore" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loanAmount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bankResult" type="tns:ArrayOfBank" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bank" nillable="true" type="tns:Bank" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bank" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="bankSoapIn">
    <wsdl:part name="parameters" element="tns:bank" />
  </wsdl:message>
  <wsdl:message name="bankSoapOut">
    <wsdl:part name="parameters" element="tns:bankResponse" />
  </wsdl:message>
  <wsdl:portType name="RuleBaseWebServiceSoap">
    <wsdl:operation name="bank">
      <wsdl:input message="tns:bankSoapIn" />
      <wsdl:output message="tns:bankSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleBaseWebServiceSoap" type="tns:RuleBaseWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bank">
      <soap:operation soapAction="http://tempuri.org/bank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RuleBaseWebServiceSoap12" type="tns:RuleBaseWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bank">
      <soap12:operation soapAction="http://tempuri.org/bank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleBaseWebService">
    <wsdl:port name="RuleBaseWebServiceSoap" binding="tns:RuleBaseWebServiceSoap">
      <soap:address location="http://localhost:3239/RuleBaseWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RuleBaseWebServiceSoap12" binding="tns:RuleBaseWebServiceSoap12">
      <soap12:address location="http://localhost:3239/RuleBaseWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>